<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO List</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">

    <header>
      <div id="logo">To do list</div>
    </header>

    <main>
      <div id="list">
        <ul>
          <li v-for="(elemento, index) in todolist" @click="taskDone(index)">
            <span :class="checkDone(index)">{{todolist[index].text}}</span>
            <i class="fas fa-times" @click="taskDelete(index)"></i>
          </li>
        </ul>
      </div>

      <div id="add-todo">
        <input type="text" placeholder="Aggiungi una cosa da fare" v-model="inputValue" @keyup.enter="addTask()">
        <input type="submit" value="Invia" @click="addTask()">
      </div>
    </main>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>